#fff1e6
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body
    {font-size: 20px;
    font-family: sans-serif;
    margin: 0%;
}
h1
    {font-size: 80px;
    font-family:serif;
    font-style: italic;
    text-align: center;
    color: rgb(252, 245, 232);
    margin: 0%;
    text-shadow: 0 3px 10px rgba(0, 0, 0, 0.7);

}
h2
    {font-size:40px;
    font-style: italic;
    font-family: serif;
    text-align: center;
    color: #756158;
    margin-top:0%;
}
a
    {color:#a68a7d;
    font-style:italic;}

header
    {background-color: bisque;}

section
    {background-color:  rgb(229, 217, 204) ;}

.omne,
.zkusenosti,
.Dovednosti
        {background-color: rgb(252, 245, 232);}

a:hover {color:rgb(175, 92, 92)
        }
a:focus {color:rgb(170, 199, 170)
        }
a:visited {color:rgb(124, 95, 124)
        }
a:active {color:rgb(223, 223, 148)
        }

section{
            padding: 50px 15%;
            overflow: auto;
            }
.foto-omne {
    width: 200px ;
    border-radius: 10% 10% 3% 10% ;
    float: left;
    margin: 0 30px 10px 0px;
    
}
.fotokontakt{
    width: 350px;
    border-radius:10% 10% 10% 3%;
    float:right;
    margin-right: 10px;
   
}
table{
    border-spacing:0;
    display: inline-block;
    margin-left: 40px;
}
td {
    border-bottom: 1px solid black;
    text-align: left;
    padding: 10px 0;
}
th {
    border-bottom: 3px solid black;
    text-align: center;
}
.zamestnavatel {
    text-align: center;
    padding-left: 20px;

}
.pozice {
    text-align: left;
    padding-left: 20px;
}

section {
    padding: 50px 15%;
}

.paticka {
    padding: 20px 0;
    text-align: center;
   font-size: 15px;
   background-color:#756158 ;
   margin: 0%;
}
.hlavicka {
    background-image: url(Foto/UK.jpg);
    padding:120px 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.prace  {
    margin: 10px 200px 30px 200px;
}
.ikony {
    padding-right: 6px;
}
.Dovednosti {
    text-align: center;
}

.menu {
    margin: 0%;
    padding:0%;
    text-align: center;
    background-color:#756158 ;

    
}
.menu li {
    display: inline-block;

}
.menu a {
    display: inline-block;
    color: rgb(252, 245, 232);
    text-decoration: none;
    padding: 20px 30px;
    
}